* {
  font-family: "Poppins", sans-serif;
}

.description-element-one {
  border: gray 2px solid;
  border-radius: 50px;
  width: 400px;
  padding: 3px;
  background: rgb(207, 207, 207);
  text-align: center;
}